@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --global-tomato-color: rgb(231, 118, 137);
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 200;
}

ul,
li {
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  font-family: "Barlow", Helvetica, Sans-Serif;
  font-size: 1.1rem;
}

input {
  font-weight: 200;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", Helvetica, Sans-Serif;
  font-weight: 200;
  font-size: 1.1rem;
}

.website-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.website-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background-color: var(--global-tomato-color);
  padding: 2rem 0;
}

.website-title {
  font-size: 4rem;
  color: white;
  font-weight: 500;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-container .btn {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: var(--global-tomato-color);
  padding: 1rem 0;
  margin: 0 1rem;
  width: 18rem;
  border-radius: 3rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 3px solid white;
  font-size: 1.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-clicked {
  border: 3px solid white !important;
  background-color: #bb5869 !important;
  color: white !important;
}

.buttons-top .btn {
  width: 22rem;
}

.timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
}

.timer-container .timer-circle-container {
  position: relative;
}

.timer-container .timer-circle-container .timer-circle {
  height: 408px;
  width: 408px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12rem;
}

.timer-container .timer-circle-container .timer-circle .progress-bar {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  fill: none;
  stroke: white;
  stroke-dashoffset: 0px;
  stroke-dasharray: 1258px;
  stroke-width: 8px;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.timer-container .timer-circle-container .timer-circle .progress-bar-animation {
  -webkit-animation: progress-bar-keyframes linear;
          animation: progress-bar-keyframes linear;
}

.timer-container .timer-circle-container .timer-circle .progress-bar-animation2 {
  -webkit-animation: progress-bar-keyframes2 linear;
          animation: progress-bar-keyframes2 linear;
}

@-webkit-keyframes progress-bar-keyframes {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1258px;
  }
}

@keyframes progress-bar-keyframes {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1258px;
  }
}

@-webkit-keyframes progress-bar-keyframes2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1258px;
  }
}

@keyframes progress-bar-keyframes2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1258px;
  }
}

.timer-container .timer-circle-container .timer-count {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  top: 45%;
  font-size: 5rem;
  color: white;
  font-weight: 400;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.timer-container .timer-circle-container .timer-count .timer-minutes {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  left: 48%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.timer-container .timer-circle-container .timer-count .sign-between {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.timer-container .timer-circle-container .timer-count .timer-seconds {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 52%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.timer-container .timer-circle-container .timer-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  top: 60%;
}

.timer-container .timer-circle-container .timer-title .title {
  display: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
}

.timer-container .timer-circle-container .timer-title .title-visible {
  display: block;
}

.timer-container .timer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.timer-container .timer-buttons .btn {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 3rem;
  border: 4px solid white;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.timer-container .timer-buttons .btn .icon {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: var(--global-tomato-color);
}

.timer-container .timer-buttons .btn .icon-pause {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.timer-container .timer-buttons .btn .icon-play {
  opacity: 0;
}

.item-visible {
  opacity: 1 !important;
}

.info-window {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--global-tomato-color);
  border: 4px solid white;
  color: white;
  border-radius: 2rem;
  padding: 2rem;
  width: auto;
}

.info-window h1 {
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.info-window .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
}

.info-window .line label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  width: 15rem;
  font-size: 2rem;
  font-weight: 500;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.info-window .line input {
  border: none;
  outline: none;
  height: 100%;
  width: 7rem;
  font-size: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
  font-weight: 500;
  color: black;
}

.info-window .line .spinners {
  margin-left: 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-window .line .spinners .spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: var(--global-tomato-color);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.info-window .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.info-window .buttons-container .btn {
  width: 10rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about-window {
  width: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-window h1 {
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
  padding-right: 7rem;
}

.about-window h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.about-window p {
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: justify;
}

.about-window ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.about-window ul li {
  text-align: justify;
}

.about-window .repeat {
  font-size: 1.5rem;
}

.about-window .buttons-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 1rem;
  left: 0;
}

.about-window .buttons-container .btn-close {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  margin-right: 2rem;
}

.alert-message-window {
  padding: 2rem 2rem;
}

.alert-message-window h1 {
  margin-bottom: 1rem;
}

.alert-message-window .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-window-visible {
  z-index: 2 !important;
}

@media only screen and (max-width: 1450px) {
  .buttons-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .buttons-container .btn {
    width: 20%;
  }
  .buttons-top .btn {
    width: 22rem;
  }
}

@media only screen and (min-width: 1025px) {
  .buttons-container .btn-clicked:hover {
    border: 3px solid white;
    background-color: #bb5869;
    color: white;
  }
  .buttons-container .btn:hover {
    border: 3px solid white;
    background-color: transparent;
    color: white;
  }
  .timer-container .timer-buttons .btn:hover {
    background-color: var(--global-tomato-color);
  }
  .timer-container .timer-buttons .btn:hover .icon {
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  .website-wrapper {
    padding: 6rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .website-wrapper {
    padding: 2rem 0;
  }
  .buttons-top .btn {
    width: 19rem;
  }
  .buttons-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .buttons-bottom .btn {
    width: 45%;
  }
  .buttons-bottom .btn:nth-child(1),
  .buttons-bottom .btn:nth-child(2) {
    margin-bottom: 1rem;
  }
  .about-window {
    width: 95%;
  }
  .about-window h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .website-wrapper {
    padding: 1rem 0;
  }
  .website-title {
    font-size: 2.5rem;
  }
  .buttons-container .btn {
    font-size: 1rem;
    height: 2rem;
    margin: 0 0.5rem;
  }
  .buttons-top .btn {
    width: 10rem;
  }
  .timer-container {
    height: auto;
    width: 100%;
  }
  .timer-container .timer-circle-container .timer-circle {
    height: 330px;
    width: 330px;
  }
  .timer-container .timer-circle-container .timer-circle .progress-bar {
    -webkit-transform: scale(0.81);
            transform: scale(0.81);
  }
  .timer-container .timer-circle-container .timer-count {
    top: 40%;
  }
  .timer-container .timer-circle-container .timer-title {
    top: 60%;
  }
  .timer-container .timer-buttons {
    margin-top: 0.2rem;
  }
  .timer-container .timer-buttons .btn {
    font-size: 2rem;
    color: white;
    margin: 0 0.5rem;
    height: 4rem;
    width: 4rem;
  }
  .custom-timer-window {
    width: 95%;
    padding: 1rem 0;
    border-radius: 1.5rem;
  }
  .custom-timer-window h1 {
    font-size: 2.2rem;
    width: 100%;
  }
  .custom-timer-window .line {
    margin-top: 1rem;
  }
  .custom-timer-window .line label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 12rem;
    font-size: 1.5rem;
  }
  .custom-timer-window .line input {
    border: none;
    outline: none;
    height: 100%;
    width: 6rem;
    font-size: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    color: black;
  }
  .custom-timer-window .line .spinners {
    margin-left: 0.5rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .custom-timer-window .line .spinners .spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    color: var(--global-tomato-color);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .custom-timer-window .buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }
  .custom-timer-window .buttons-container .btn {
    width: 10rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .about-window {
    height: 97%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
    padding-top: 4rem;
  }
  .about-window h1 {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .about-window h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .about-window p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
    line-height: 1.2rem;
  }
  .about-window ul {
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  .about-window ul li {
    line-height: 1.1rem;
  }
  .about-window .repeat {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .about-window .buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0rem;
  }
  .about-window .buttons-container .btn-close {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    margin: 0;
    margin-top: -0.5rem;
  }
  .alert-message-window {
    width: 95%;
    padding: 2rem 0;
  }
  .alert-message-window h1 {
    font-size: 1.8rem;
  }
  .alert-message-window .buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 375px) {
  .website-wrapper {
    padding-top: 0.5rem;
  }
  .timer-container .timer-circle-container .timer-circle {
    height: 300px;
    width: 300px;
  }
  .timer-container .timer-circle-container .timer-circle .progress-bar {
    -webkit-transform: scale(0.73);
            transform: scale(0.73);
  }
  .timer-container .timer-buttons {
    margin-top: 0rem;
  }
  .timer-container .timer-buttons .btn {
    font-size: 1.7rem;
    height: 3.5rem;
    width: 3.5rem;
  }
  .custom-timer-window h1 {
    font-size: 2rem;
  }
  .custom-timer-window .line label {
    width: 10.5rem;
  }
  .custom-timer-window .line input {
    width: 5.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .website-title {
    font-size: 1.5rem;
  }
  .timer-container .timer-circle-container .timer-circle {
    height: 280px;
    width: 280px;
  }
  .timer-container .timer-circle-container .timer-circle .progress-bar {
    -webkit-transform: scale(0.68);
            transform: scale(0.68);
  }
  .timer-container .timer-buttons {
    margin-top: 0.3rem;
  }
  .timer-container .timer-buttons .btn {
    font-size: 1.7rem;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 0.2rem;
  }
  .buttons-container .btn {
    width: 45%;
    margin: 0 0.2rem;
    font-size: 0.9rem;
  }
  .buttons-top .btn {
    width: 45%;
  }
  .custom-timer-window h1 {
    font-size: 1.7rem;
  }
  .custom-timer-window .line label {
    font-size: 1.3rem;
    width: 9rem;
  }
  .custom-timer-window .line input {
    width: 5rem;
    font-size: 1.5rem;
  }
  .alert-message-window h1 {
    font-size: 1.5rem;
  }
  .buttons-container .btn {
    padding: 0.5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */